<%= link_to 'Sign In', session_path %>

<h1>Reset your password</h1>

<%= form_for @user, url: new_password_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.submit 'Reset password!' %>
  </div>
<% end %>
